@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="row">
    @*<div  class="col-12" style="padding-left: 80%;" >  
        <input type='button' value="login" id='loginbutn' onClick='loginClick()' >          
        <input type='button' value='Login As Admin' id='addButton' onClick='redirectOnClick()'/>
        <script>
        function redirectOnClick(){
            document.location ='/AddMedicine';
        }
        function loginClick(){
            document.location='/login'
        }
        </script>
    </div>*@
    <div class="col-md-12">
        <hr />
        @{
            List<MedicineTable> lst = ViewData["MedicineTable"] as List<MedicineTable>;

            if (lst != null)
            {
                <table border="1">
                    <tr>
                        <th class="col-2">
                            Name
                        </th>
                        <th class="col-1">
                            Count
                        </th>
                        <th class="col-3">
                            Location
                        </th>
                        <th class="col-1">
                            Provider Type
                        </th>
                        <th class="col-3">
                            Store Name
                        </th>
                        <th class="col-2">
                            Batch ID
                        </th>
                    </tr>
                    @{ foreach (var item in lst)
                        {
                            <tr>
                                <td class="col-2">@item.name</td>                            
                                <td class="col-1">@item.count</td>                            
                                <td class="col-3">@item.location</td>                            
                                <td class="col-1">@item.providertype</td>
                                <td class="col-3">@item.StoreName</td>
                                <td class="col-2">@item.BatchID</td>
                            </tr>
                        }
                    }
                </table>
            }
        }
        <hr />
        <form method="post">

            <label for="Name">Medicine Name</label>
            <input type="text" id="Name" name="Name" placeholder="Medicine Name" class="col-3"/>
            <label for="BatchId">Batch Id</label>
            <input type="text" id="BatchId" name="BatchId" placeholder="Batch Id" class="col-3"/>
            <input type="submit" name="Search" />            
        </form>
        <div>
            
        </div>
    </div>
</div> 